fieldset {
  border: none;
}

legend {
  font-size: 20rem;
}

label {
  font-size: 16rem;
}

.input-wrapper {
  display: flex;
  flex-direction: column;
  gap: 8rem;
}

.input-wrapper input {
  font-size: 14rem;
  color: #18242C;

  padding: 8rem;
  border: 1px solid #18242C;
}

.input-wrapper input:focus {
  outline: 1px solid #355163;
}

.select {
  display: flex;
  gap: 6rem;
}