header {
  height: 400rem;
}

#event-logo {
  background-image: url('../../../assets/images/OUP.webp');
  background-repeat: no-repeat;
  background-position: center;
  object-fit: cover;
  background-size: 100%;

  width: 100%;
}

#event-logo,
#infos {
  height: 100%;
}

#infos {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 10rem;

  width: 100%;

  padding-left: 7%;
}

#infos #event-date {
  font-size: 12rem;
}

header h1 {
  font-size: 60rem;
  color: #FFF;
}

header p {
  font-size: 20rem;
  color: #FFF;
}